body {
  margin: 3px;
  color: #1a1a1a;
  background-color: #f5f5f5;
}

.envelope, .event {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.envelope.highlight {
  background-color: #e7e7e7;
}

.event {
  color: #bbb;
}

.timestamp {
  float: left;
  width: 3.2em;
  color: #ccc;
  font-size: smaller;
  padding: 1px 0;
}

.who {
  float: left;
  width: 7.5em;
  text-align: right;
}

.who > .dingbat {
  color: #929292;
}

.message {
  margin-left: 10.8em;
  word-wrap: break-word;
}

.action > .message {
  color: #727272;
}

a.member {
  text-decoration: none;
}
a.member:hover {
  text-decoration: underline;
}

.namehash-0 { color: #732c9a; }
.namehash-1 { color: #835587; }
.namehash-2 { color: #544247; }
.namehash-3 { color: #6e2669; }
.namehash-4 { color: #4b999e; }
.namehash-5 { color: #9e9081; }
.namehash-6 { color: #392f69; }
.namehash-7 { color: #275f29; }
.namehash-8 { color: #455e78; }
.namehash-9 { color: #8a9765; }
.namehash-10 { color: #679429; }
.namehash-11 { color: #5f5280; }
.namehash-12 { color: #5d674b; }
.namehash-13 { color: #373986; }
.namehash-14 { color: #495567; }
.namehash-15 { color: #56208a; }
.namehash-16 { color: #679c2f; }
.namehash-17 { color: #51658d; }
.namehash-18 { color: #367839; }
.namehash-19 { color: #72906c; }
.namehash-20 { color: #988257; }
.namehash-21 { color: #214f86; }
.namehash-22 { color: #6c554e; }
.namehash-23 { color: #8b706f; }
.namehash-24 { color: #9f377d; }
.namehash-25 { color: #589a8b; }
.namehash-26 { color: #678c95; }
.namehash-27 { color: #527e27; }
.namehash-28 { color: #9e3253; }
.namehash-29 { color: #553f38; }
.namehash-30 { color: #9f5a44; }
.namehash-31 { color: #5f8655; }
